@use '../tools' as *;

.button {
    display: inline-block;
    text-align: center;
    font-weight: 600;
    font-size: fluid(16, 14);
    padding: rem(10) rem(20);
    border-radius: rem(10);
    color: var(--color-white-95);
    background: var(--color-grey-70);
    transition: background 0.3s ease 0s;

    @include hover {
        opacity: .8;
    }

    &_red {
        background: var(--color-orange);
    }

    &_start {
        align-self: flex-start;
    }
}