// * import index file
@use '../tools' as *;
// =======================================================================================================

.footer {
    border-top: rem(2) solid var(--color-grey-70);

    &__copy {
        padding: rem(15);
        text-align: center;
        font-size: fluid(22, 18);
    }
}