@use '../tools' as *;

.form {
    display: flex;
    flex-direction: column;
    gap: rem(10);

    &_modal {
        min-width: fluid(500, 250);
    }

    &__input {
        width: 100%;
        min-height: rem(50);
        padding-inline: rem(15);
        border: rem(2) solid var(--color-grey-70);
        border-radius: rem(10);
        font-size: rem(16);

        &._error {
            border: rem(2) solid red !important;
        }
    }
}